<!-- Including my templates -->
<% include partials/header %>

<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <h2><%= blog.created %></h2>
        <p><%= blog.body.substring(0, 50) %>...</p>
        <a href="/blogs/<%= blog._id %>">Read more</a>
    </div>
<% }); %>

<% include partials/footer %>